@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
:root{
  --white: #F8F5FA;
  --black: #111;
  --blue: #d4b25a;
  --darkblue:#000000;
  --grey: #7c7a7a;
  --darkgrey: #131212;
  --green: #4ae05e;
  --red: #eb4b27;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
  /* background: linear-gradient(#2A00B7, #42006C); */
  background-color: var(--darkblue);
  color: var(--white);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}